.container{
	display: table;
}

.container .column{
	display: table-cell;
	width:33.3333%;
	border: 1px solid #CCCCCC;
	border-left-width: 0px;
}

.container .column.column-1{
	border-left-width: 1px;
}

.container .column .content{
	border-left-width: 0;
	height: 100%;
}

.container .column .content .content-inner{
	margin: 10px;
	overflow: hidden;
}

.container .column .content .content-inner:after{
	float: left;
	width: 0;
	white-space: nowrap;
	content: 
	"..................................................."
	"..................................................."
	"...................................................";
}

.container .column .content span.text{
	background-color: white;
	padding-right: 0.5em;
}

.container .column .content span.price{
	float: right;
	background-color: white;
	padding-left: 0.5em;
	position: relative;
	z-index: 1;
}
